@font-face{
  font-family: "Noto Sans Japanese";
  src:url('../../font/NotoSansJP-Regular.otf');
}

.card {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  box-shadow: 1px 1px 2px 2px #DEDEDE;
  transition: 0.3s;
  transform-style: preserve-3d;
  position: relative;
  cursor: pointer;
  text-align: center;
  font-family: "Noto Sans Japanese";
  background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url('../../img/15.png');
    // opacity: 0.5;
    background-size: cover;
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .card-face {
    // background-color: #CBF4EB;
    
    
    position: absolute;
    width: 100%;
    height: 100%;
    &.card-back-face {
      vertical-align: middle;
      h4{
        font-weight: 400;
        color: black;
      }
    }
  }

  &.is-flipped {
    background-color: #eeeeee;
    opacity: 0.3;
    box-shadow: 1px 1px 2px 2px rgb(231, 21, 21);
  }
  &.is-inactive {
    opacity: 0;
  }
}